<% breadcrumb :guests, @event %>

<h1><%= @event.name %> Guests</h1>

<%= link_to "Add", new_event_guest_path(@event) %>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Notification Type</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @guests %>
  </tbody>
</table>
