<% breadcrumb :guests, @event %>

<h1><%= @event.name %> Guests</h1>

<div class="mb-3">
  <%= link_to "Add Guests to this Event", new_event_guest_path(@event) %>
</div>

<div id="accordion">
  <%= render @guests %>
</div>
