<% breadcrumb :edit_notification, @event, @experience, @notification %>

<h1>Edit <%= @experience.name %> Notification</h1>

<div class="mt-3">
  <%= render "notifications/form", url: event_experience_notification_path(@event, @experience, @notification) %>
</div>
