<% breadcrumb :event, @event %>

<h1><%= @event.name %></h1>

<div class="pt-2">
  <div><%= link_to "Guests", event_guests_path(@event) %></div>
  <div><%= link_to "Experiences", event_experiences_path(@event) %></div>
</div>
