<% breadcrumb :edit_experience, @event, @experience %>

<h1>Edit <%= @experience.name %></h1>

<div class="mt-3">
  <%= render "experiences/form", url: event_experience_path(@event, @experience) %>
</div>
