<% breadcrumb :experiences, @event %>

<h1><%= @event.name %> Experiences</h1>

<div class="mb-3">
  <%= link_to "Add", new_event_experience_path(@event) %>
</div>

<div id="accordion">
  <% @event.experiences.each do |experience| %>
    <%= render "experiences/experience", experience: experience %>
  <% end %>
</div>
